@import "tailwindcss";

/*-----------------Theme Variables----------------------- */
@theme {
    --color-primary: #2563eb;
    --color-secondary:#1e40af;

    --glass-bg: rgba(255, 255, 255, 0.05);
}

/* ------------------Base-------------------*/
html {
    background-color: #020617;
    color-scheme: dark;
}

body {
    @apply bg-[#020617] text-white;
}

.glass-card {
  background: var(--glass-bg);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
